* {
  background-color: #a8dadc;
}

.meme-generator {
  font-family: "Roboto", sans-serif;
  text-align: center;

}

.meme-generator img {
  height: 430px;
  object-fit: cover;
}

.meme-generator .generate-meme-btn {
  padding: 8px 20px;
  border: none;
  border-left: 4px solid #ffffff;
  border-right: 4px solid #ffffff;
  margin: 24px 0;
  font-size: 20px;
  color: #f64d4d;
  background: #fff;
  cursor: pointer;
  transition: all 700ms ease;
}

.meme-generator .generate-meme-btn:hover {
  padding: 8px 36px;
  border-left: 8px solid #ffffff;
  border-right: 8px solid #ffffff;
  letter-spacing: 3px;
}

.meme-generator .meme-author {
  margin: 8px;
}