@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

/* 
   ef476f
   ffd166
   06d6a0
   118ab2
   073b4c
*/
body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: #fcc646;
}

.wrapper {
    width: 65vmin;
    height: 70vmin;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    border-radius: 5px;
    background: #118ab2;
}


.game-details {
    color: #ffd166;
    font-size: 1.2rem;
    font-weight: 500;
    padding: 20px 27px;
    display: flex;
    justify-content: space-between;
}

.play-board {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template: repeat(30, 1fr) / repeat(30, 1fr);
    background: #073b4c;
}


.play-board .food {
    background: #ef476f;
}

.play-board .head {
    background: #06d6a0;
}

.controls {
    display: none;
    justify-content: space-around;
}


.controls i {
    padding: 25px 0;
    color: #ffd166;
    text-align: center;
    cursor: pointer;
    font-size: 1.3rem;
    width: calc(100% / 4);
    border-right: 1px solid #073b4c;
}





@media screen and (max-width: 800px) {
    .wrapper {
        width: 90vmin;
        height: 115vmin;
    }

    .game-details {
        font-size: 1rem;
        padding: 15px 57px;
    }

    .controls {
        display: flex;
    }

    .controls i {
        padding: 15px 0;
        font-size: 1rem;
    }
}