/* Add these styles to style.css */
body {
  font-family: Arial, sans-serif;
  background-color: #1e1e1e;
  margin: 0;
  padding: 0;
  color: #fff;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

h1 {
  text-align: center;
  margin-top: 20px;
  color: #007bff;
}

.form-container,
.music-container {
  background-color: #333;
  border-radius: 5px;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  margin: 20px 0;
}

#upload-form {
  max-width: 400px;
  margin: 0 auto;
}

h2 {
  font-size: 18px;
  color: #007bff;
}

input[type="file"],
input[type="text"],
textarea {
  width: 100%;
  margin-top: 10px;
  padding: 10px;
  border: none;
  background-color: #444;
  color: #fff;
  border-radius: 5px;
  font-size: 16px;
}

input[type="file"] {
  display: none;
}

label.custom-file-upload {
  display: block;
  background-color: #007bff;
  color: #fff;
  text-align: center;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}

span.button-label {
  margin-right: 5px;
}

.hidden {
  display: none;
}

.music-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.music-item {
  background-color: #444;
  border: 1px solid #666;
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
  width: 200px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  text-align: center;
}

audio {
  width: 100%;
  margin-top: 20px;
  background-color: #444;
  border-radius: 5px;
}
