* {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  background-color: rgb(0, 0, 0);
}

/* typing */
html {
  min-height: 100%;
  overflow: hidden;
}
body {
  height: calc(100vh - 8em);
  padding: 4em;
  color: rgba(255, 255, 255, 0.75);
  font-family: "Anonymous Pro", monospace;
  background-color: rgb(0, 0, 0);
}
.line-1 {
  position: relative;
  top: 50%;
  width: 24em;
  margin: 0 auto;
  border-right: 2px solid rgba(0, 0, 0, 0.75);
  font-size: 180%;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  transform: translateY(-50%);
}

/* Animation */
.anim-typewriter {
  animation: typewriter 4s steps(44) 1s 1 normal both,
    blinkTextCursor 500ms steps(44) infinite normal;
}
@keyframes typewriter {
  from {
    width: 0;
  }
  to {
    width: 24em;
  }
}
@keyframes blinkTextCursor {
  from {
    border-right-color: rgba(255, 255, 255, 0.75);
  }
  to {
    border-right-color: transparent;
  }
}
/* color */

.color-change {
  animation: colorAnimation 2s infinite;
}

@keyframes colorAnimation {
  0% {
    color: red;
  }
  10% {
    color: aqua;
  }
  20% {
    color: brown;
  }
  30% {
    color: blueviolet;
  }
  40% {
    color: blue;
  }

  50% {
    color: aquamarine;
  }
  100% {
    color: green;
  }
}

/*  scale animaitons*/

.scale {
  animation: scaleAnimation 2s infinite;
  transform-origin: left top;
}

@keyframes scaleAnimation {
  0% {
    transform: scale(0.5);
  }
  100% {
    transform: scale(1);
  }
}

/* Rotating  */

.rotate {
  animation: rotateAnimation 2s infinite;
}

@keyframes rotateAnimation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Glow */

.glow {
  animation: glowAnimation 2s infinite;
}

@keyframes glowAnimation {
  0% {
    text-shadow: 0 0 5px rgba(0, 89, 255, 0.5);
  }
  50% {
    text-shadow: 0 0 20px rgba(255, 25, 25, 0.8);
  }
  100% {
    text-shadow: 0 0 5px rgba(0, 255, 94, 0.5);
  }
}

/* shake */
.shake {
  animation: shakeAnimation 0.1s infinite;
}

@keyframes shakeAnimation {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-5px);
  }
  50% {
    transform: translateX(0);
  }
  75% {
    transform: translateX(5px);
  }
  100% {
    transform: translateX(0);
  }
}
/*  Bouncy*/

.bounce {
  animation: bounceAnimation 0.5s infinite;
}

@keyframes bounceAnimation {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
}

/* wobble */
.wobble {
  animation: wobbleAnimation 1s infinite;
}

@keyframes wobbleAnimation {
  0% {
    transform: translateX(0%);
  }
  15% {
    transform: translateX(-25%) rotate(-5deg);
  }
  30% {
    transform: translateX(20%) rotate(3deg);
  }
  45% {
    transform: translateX(-15%) rotate(-3deg);
  }
  60% {
    transform: translateX(10%) rotate(2deg);
  }
  75% {
    transform: translateX(-5%) rotate(-1deg);
  }
  100% {
    transform: translateX(0%);
  }
}

/* rainbow */

.rainbow {
  animation: rainbowAnimation 3s infinite;
}

@keyframes rainbowAnimation {
  0% {
    color: red;
  }
  14% {
    color: orange;
  }
  28% {
    color: yellow;
  }
  42% {
    color: green;
  }
  57% {
    color: blue;
  }
  71% {
    color: indigo;
  }
  85% {
    color: violet;
  }
  100% {
    color: red;
  }
}

/* floating */

.float {
  animation: floatAnimation 4s infinite;
}

@keyframes floatAnimation {
  0%,
  100% {
    transform: translateY(100);
  }
  50% {
    transform: translateY(100px);
  }
}

/* Typing effect */
.typing-effect {
  width: 10ch;
  overflow: hidden;
  animation: typing 1s steps (10) infinite alternate-reverse;
}

@keyframes typing {
  from {
    width: 0ch;
  }
}

/*  */

.ripple {
  display: inline-block;
  position: relative;
  animation: rippleAnimation 1.5s linear infinite;
}

@keyframes rippleAnimation {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(2);
    opacity: 0;
  }
}

/*  */
.flip-text {
  display: inline-block;
  perspective: 1000px;
}

.flip-text span {
  display: inline-block;
  transform-style: preserve-3d;
  animation: flipAnimation 3s linear infinite;
}

@keyframes flipAnimation {
  0%,
  100% {
    transform: rotateX(0);
  }
  50% {
    transform: rotateX(180deg);
  }
}

.skewed-text {
  display: inline-block;
  animation: skewedAnimation 2s ease infinite;
}

@keyframes skewedAnimation {
  0%,
  100% {
    transform: skewX(0deg);
  }
  50% {
    transform: skewX(10deg);
  }
}
