* {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  background-color: blanchedalmond;
}

/* typing */
html {
  min-height: 100%;
  overflow: hidden;
}
body {
  height: calc(100vh - 8em);
  padding: 4em;
  color: rgba(255, 255, 255, 0.75);
  font-family: "Anonymous Pro", monospace;
  background-color: blanchedalmond;
}
.line-1 {
  position: relative;
  top: 50%;
  width: 24em;
  margin: 0 auto;
  border-right: 2px solid rgba(0, 0, 0, 0.75);
  font-size: 180%;
  text-align: left;
  white-space: nowrap;
  overflow: hidden;
  transform: translateY(-50%);
}

/* Animation */
.anim-typewriter {
  animation: typewriter 4s steps(44) 1s 1 normal both,
    blinkTextCursor 500ms steps(44) infinite normal;
}
@keyframes typewriter {
  from {
    width: 0;
  }
  to {
    width: 24em;
  }
}
@keyframes blinkTextCursor {
  from {
    border-right-color: rgba(255, 255, 255, 0.75);
  }
  to {
    border-right-color: transparent;
  }
}
/* color */

.color-change {
  animation: colorAnimation 2s infinite;
}

@keyframes colorAnimation {
  0% {
    color: red;
  }
  10% {
    color: aqua;
  }
  20% {
    color: brown;
  }
  30% {
    color: blueviolet;
  }
  40% {
    color: blue;
  }

  50% {
    color: aquamarine;
  }
  100% {
    color: green;
  }
}

/*  scale animaitons*/

.scale {
  animation: scaleAnimation 2s infinite;
  transform-origin: left top;
}

@keyframes scaleAnimation {
  0% {
    transform: scale(0.5);
  }
  100% {
    transform: scale(1);
  }
}

/* Rotating  */

.rotate {
  animation: rotateAnimation 2s infinite;
}

@keyframes rotateAnimation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Glow */

.glow {
  animation: glowAnimation 2s infinite;
}

@keyframes glowAnimation {
  0% {
    text-shadow: 0 0 5px rgba(0, 89, 255, 0.5);
  }
  50% {
    text-shadow: 0 0 20px rgba(255, 25, 25, 0.8);
  }
  100% {
    text-shadow: 0 0 5px rgba(0, 255, 94, 0.5);
  }
}

/* shake */
