:root {
    font-size: 20px;
    --dark-blue: #102770;
    --white-gr: #c4c3ca;
    --yellow: #ffeba7;
}

body {
    color: var(--white-gr);
    background-color: var(--dark-blue);
    overflow-x: hidden;
}

h1 {
    font-family: 'Lato', sans-serif;
    font-weight: 900;
    color: var(--yellow);
    font-size: 12vw;
}

.section {
    position: relative;
    width: 100%;
    display: block;
    z-index: 2;
}

.over-hide {
    overflow: hidden;
}

.full-height {
    height: 100vh;
}

.z-bigger {
    z-index: 10 !important;
}

.section-center {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    z-index: 10;
    transform: translateY(-50%);
}

main {
    position: relative;
    width: 100%;
    display: block;
    z-index: 2;
    -webkit-transition: all 200ms linear;
    transition: all 200ms linear;
}

.viewport {
    overflow: hidden;
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.scroll-container {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 10;
    overflow: hidden;
    transform-style: preserve-3d;
}

.img-loader {
    position: absolute;
    bottom: -25%;
    left: -25%;
    width: 150%;
    height: 150%;
    background-color: var(--dark-blue);
}

.img-wrap img {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 6px;
}

.logo {
    position: fixed;
    bottom: 30px;
    right: 30px;
    display: block;
    z-index: 200000;
    transition: all 250ms linear;
}

.logo img {
    height: 26px;
    width: auto;
    display: block;
    mix-blend-mode: difference;
}