/* Reset default browser styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #a7e1b8;
}

.header {
  background-color: #000000;
  color: #b4dfc1;
  text-align: center;
  padding: 20px 0;
}

.main {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.question {
  background-color: #7ee49d;
  border: 1px solid #0bcd45;
  border-radius: 4px;
  padding: 20px;
  margin-bottom: 20px;
}

.run-button {
  background-color: #07b13a;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
}

h1 {
  color: #0bcd45;
}
