body {
  margin: 0;
  padding: 0;
  background-color: #0247ae;
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  justify-content: space-between;
  align-items: center;
  font-family: "Lucida Sans Unicode", sans-serif;
}

svg {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -10;
}

header {
  color: rgb(255, 255, 255);
  height: 150px;
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: center;
}

.bottom-section {
  width: 100%;
  display: flex;
  justify-content: center;
  height: 150px;
}

.input-container {
  width: 100%;
  max-width: 600px;
  position: relative;
  margin-bottom: 200px;
}

input {
  width: 100%;
  border: none;
  font-size: 20px;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 20px 30px -10px rgb(38, 57, 77);
  box-sizing: border-box;
}

#submit-icon {
  position: absolute;
  top: 10px;
  right: 30px;
  cursor: pointer;
}

.images-section {
  width: 100%;
  max-width: 600px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 10px;
}

.image-container {
  width: 48px;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0 20px 30px -10px rgb(38, 57, 77);
}

.image-container img {
  width: 100%;
}
