body {
  margin: 0;
  padding: 0;
  background-color: #0247ae;
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

svg {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -10;
}

header {
  color: rgb(255, 255, 255);
  height: 150px;
  display: flex;
  align-items: center;
}
