@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap");

body {
  background-color: #002d72;
}

* {
  margin: 0;
  padding: 0;
}

nav {
  font-family: "Montserrat", sans-serif;
  color: aliceblue;
}

nav ul {
  display: flex;
  align-items: center;
  list-style: none;
  height: 90px;
  background-color: black;
}

nav ul li {
  padding: 0 12px;
}

.brand img {
  width: 83px;
  padding: 0 8px;
}

.brand {
  display: flex;
  align-items: center;
  font-weight: bolder;
  font-size: 1.3rem;
}

.container {
  min-height: 71vh;
  background-color: #cb3d3d;
  color: rgb(0, 0, 0);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
  margin: 23px auto;
  width: 70%;
  border-radius: 12px;
  padding: 34px;
  background-image: url("img.jpg");
}

.bottom {
  position: sticky;
  height: 177px;
  background-color: black;
  bottom: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column-reverse;
}

#myProgressbar {
  width: 75vw;
  cursor: pointer;
}

.SongItemContainer {
  margin-top: 74px;
}

h1 {
  color: aliceblue;
}

.icons {
  size: 34px;
  margin: 5;
}

/* how to do pointer style cursor */
.icons {
  cursor: pointer;
  font-size: 39px; /* Increase or decrease the size as needed */
}

.songItem {
  height: 50px;
  display: flex;
  background-color: rgb(147, 76, 205);
  width: 250%;
  color: white;
  border-radius: 15px;
  margin: 12px 0;
  justify-content: space-between;
  align-items: center;
}

.songItem img {
  width: 41px;
  margin: 0px 3px;
  border-radius: 10px;
}

.timestamp {
  margin: 0 23px;
}

.timestamp i {
  cursor: pointer;
}
