* {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  /* background-color: #4158d0;
  background-image: linear-gradient(
    43deg,
    #4158d0 0%,
    #c850c0 48%,
    #ffcc70 100%
  ); */

  background-color: #0093e9;
  background-image: linear-gradient(160deg, #0093e9 0%, #80d0c7 100%);

  width: 100%;
  min-height: 100vh;
  color: #fec863;
  padding: 25px;
}

.calculator {
  width: 100%;
  max-width: 600px;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 25px;
  margin-bottom: 25px;
  padding: 25px;
  /* box-shadow: 0 0 0.11px rgba(0, 0, 0, 0.2); */
}

.calculator h1 {
  font-size: 60px;
}

input-box {
  margin: 40px 0;
  padding: 35px;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.3);
  display: flex;
  align-items: center;
}

input-box input {
  flex: 1;
  margin-right: 20px;
  padding: 14px 20px;
  border: 0;
  outline: 0;
  font-size: 20px;
  border-radius: 5px;
  position: relative;
}
